html,
body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  background-image: url(https://c4.wallpaperflare.com/wallpaper/989/643/698/digital-art-artwork-pac-man-video-games-wallpaper-preview.jpg);
}

h1 {
  text-transform: uppercase;
  margin: 0.2em;
  letter-spacing: 2px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px black, -1px -1px #444;
}

h3,
p {
  color: white;
  text-align: center;
}

#start {
  padding: 0.5em 1.5em;
  cursor: pointer;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
  background-color: white;
  outline: none;
  border: none;
  transition: all 0.2s ease;
  margin-top: 2em;
}

#start:hover {
  transform: scale(1.2);
  background-color: yellow;
  border: none;
  box-shadow: 1px 1px 10px 5px yellow;
}

.container {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0 30px;
  width: 500px;
  text-align: center;
}
h3 {
  text-align: center;
  font-size: 1.6rem;
  color: white;
}

img {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  mix-blend-mode: difference;
}
.grid {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  border: solid black;
  background-color: black;
  opacity: 0.95;
}

.grid div {
  width: 15px;
  height: 15px;
}

.pac-dot {
  background-color: yellow;
  border-radius: 7.5px;
  border: 5px solid black;
  box-sizing: border-box;
}

.wall {
  background: rgb(49, 80, 222);
  background: radial-gradient(
    circle,
    rgba(49, 80, 222, 1) 0%,
    rgba(19, 114, 230, 0.3) 100%
  );
}

.power-pellet {
  background-color: yellow;
  border-radius: 15px;
  border: 2.5px solid black;
  box-sizing: border-box;
}

.pacman {
  background: url(./img/pacmanimage.png);
  background-size: cover;
  border-radius: 7.5px;
  background-color: black;
  border: none;
}

.pinky,
.blinky,
.inky,
.clyde {
  border: none;
  border-radius: 0;
}

.pinky {
  background: url(./img/ghost_pinky.png);
  background-size: cover;
}

.blinky {
  background: url(./img/ghost_blinky.png);
  background-size: cover;
}

.inky {
  background: url(./img/ghost_inky.png);
  background-size: cover;
}

.clyde {
  background: url(./img/ghost_clyde.png);
  background-size: cover;
}

.scared-ghost {
  background: url(./img/ghost_scared.png);
  background-size: cover;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
.controlButtons {
  margin: 1em auto;
  display: none;
}

.btns {
  padding: 0.5em 2em;
  cursor: pointer;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: bold;
  background-color: white;
  outline: none;
  border: 1px solid black;
  margin-top: 1em;
}

.leftRightBtn {
  display: flex;
  justify-content: center;
  column-gap: 4em;
}

.btns:active {
  background-color: yellow;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: transparent;
  margin: 0 auto;
  padding: 2em;
  width: 60%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 550px) {
  body {
    align-items: start;
  }
  h1 {
    font-size: 1.4rem;
  }

  .controlButtons {
    display: block;
  }
  .container {
    padding: 0;
    width: 100vw;
    box-sizing: border-box;
  }
  h3 {
    font-size: 1.2rem;
  }

  img {
    width: 60%;
    margin-top: 20px;
  }
  .grid {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 224px;
    border: solid black;
    background-color: black;
    opacity: 0.95;
  }

  .grid div {
    width: 8px;
    height: 8px;
  }

  .pac-dot {
    border: 3px solid black;
  }
  .pinky,
  .blinky,
  .inky,
  .clyde {
    border: none;
    border-radius: 0;
  }
}
